<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
</head>

<body>
    <div>
        <h1>Список пользователей</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Должность</th>
            </tr>
            <tr>
                <th>ФИО</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.prof}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>